.landing-container {
  display: flex;
}

  
  .hero {
    background-color: #0064d2;
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  
  .shop-button {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .categories {
    text-align: center;
    padding: 30px;
  }
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }
  
  .category-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .category-card img {
    width: 100px;
    height: 100px;
  }
  
  .cta {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 40px;
  }
  
  .sell-button {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
  }
  